<div class="login-page" (keyup)="onKeyUp($event)">
  <div class="gradientbg">
    <div class="right-rect"></div>
    <div class="left-rect"></div>
  </div>
  <div class="splash-page-wrapper">
    <div class="splash-page-container">
      <div class="ziti-logo-container">
        <div class="ziti-logo"></div>
        <div class="ziti-logo-text">
          <div class="title-text-row title-top-text">Flux Console</div>
          <div class="title-text-row title-bottom-text">By <a href="https://fireballz.ai" class="nf-name-text">Fireball Industries</a></div>
        </div>
      </div>
      <div class="welcome-text">Enter your dashboard credentials</div>
      <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
      <span *ngIf="!errorMessage" class="error-message error-message-placeholder">&nbsp;</span>
      <div class="input-fields-container">
        <label for="Email" class="userlogin open">Email</label>
        <input
          id="Email"
          name="email"
          type="email"
          autocomplete="email"
          required
          [placeholder]="'Enter your email address'"
          [(ngModel)]="email"
        >
      </div>
      <div class="input-fields-container">
        <label for="Password" class="userlogin open">Password</label>
        <input
          id="Password"
          name="password"
          type="password"
          autocomplete="current-password"
          required
          [placeholder]="'Enter your password'"
          [(ngModel)]="password"
        >
      </div>
      <div class="buttons-container">
        <button class="primary-button login-button" (click)="login()" [disabled]="isLoading">
          <span *ngIf="!isLoading">Sign In</span>
          <span *ngIf="isLoading">Signing in...</span>
        </button>
      </div>
    </div>
  </div>
</div>
<lib-loading-indicator [isLoading]="isLoading"></lib-loading-indicator>

